<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <FacebookGames.Properties.Settings>
            <setting name="DeviceGUID" serializeAs="String">
                <value>22b02d8d-302c-486a-b476-01e7c47f0f0a</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
        </FacebookGames.Properties.Settings>
    </userSettings>
</configuration>